<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
<form (ngSubmit)="onSubmit()" [formGroup]="customerForm">
  <div class="form-group row">
    <input type="hidden" value="{{customer.id}}">
    <label class="col">
      Name
      <input type="name" class="form-control" formControlName="name">
    </label>
  </div>
  <!--  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">-->
  <!--    Invalid email!-->
  <!--  </div>-->
  <div class="form-group row">
    <label class="col">
      Birthday
      <!--      <input   type="date"  class="form-control" formControlName="birthday">-->
      <mat-form-field>
        <input [min]="minDate" [max]="maxDate" readonly formControlName="birthday" matInput [matDatepicker]="myPicker" (dateInput)="onDateChange($event.value)">
        <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
        <mat-datepicker #myPicker></mat-datepicker>
      </mat-form-field>
    </label>
  </div>
  <!--  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('age').invalid && registerForm.get('age').touched">-->
  <!--    You have to be over 18 to register an account-->
  <!--  </div>-->
  <div class="form-group row">
    <label class="col">
      Id Card
      <input type="text" class="form-control" formControlName="idCard">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Number Phone
      <input type="text" class="form-control" formControlName="numberPhone">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Email
      <input type="text" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Address
      <input type="text" class="form-control" formControlName="address">
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Edit</button>
  </div>
</form>
    </div>

    <div class="col-3"></div>
  </div>
</div>
