<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<center>
    <h3>Add People</h3>
    <p>
        <a th:href="@{/}">
            <h2><input type="submit" value="My family"></h2>
        </a>
    </p>
    <div id="form">
        <form action="#" th:action="@{/save}" th:object="${people}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label>Name :</label>
                <input type="text" th:field="*{name}"/>
                <td> <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="valid"></p></td>
            </div>
            <div>
                <label>Birthday:</label>
                <input type="date" th:field="*{birthday}"/>
<!--                <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="valid">Number Phone Error</td>-->
            </div>
            <div>
                <label>Id Card:</label>
                <input type="text" th:field="*{idCard}"/>
                <td> <p th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}" class="valid"></p></td>

            </div>
            <div>
                <label>Number Phone:</label>
                <input type="text" th:field="*{number_Phone}"/>
                <td><p th:if="${#fields.hasErrors('number_Phone')}" th:errors="*{number_Phone}" class="valid"></p></td>

            </div>
            <div>
                <label>Job :</label>
                <input type="text" th:field="*{job}"/>
                <td> <p th:if="${#fields.hasErrors('job')}" th:errors="*{job}" class="valid"></p></td>
            </div>
            <div>
                <label>Address :</label>
                <!--            <input type="text" th:field="*{address}"/>-->
                <select th:field="*{address}">
                    <option th:each="type:${listAddress}"
                            th:value="${type.id}" th:text="${type.name_address}"
                    ></option>
                </select>
            </div>
            <input type="submit" value="Save"></input>
        </form>
    </div>
    <footer th:replace="layout :: footer"></footer>
</center>
</body>
</html>