<nav class="navbar navbarCustom">
  <input class="form-control seachCustom" type="text" name="search" [(ngModel)]="search" placeholder="Search">
</nav>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Id Card</th>
    <th scope="col">Salary</th>
    <th scope="col">NumberPhone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    <th scope="col">Info</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let employee of employeeList |orderBy:key :false | filter: search
  | paginate:{id: 'listing_pagination',
  itemsPerPage: 5,currentPage: page, totalItems: totalRecords} , index as i " >
    <tr>
      <td>{{i+1}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.birthday |date: 'dd/MM/yyyy'}}</td>
      <td>{{employee.idCard}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.numberPhone}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.address}}</td>
      <td><button type="button" class="btn btn-warning" routerLink="/edit-employee/{{employee.id}}">Edit</button></td>
      <!--    <td><button type="button" class="btn btn-danger" (click)="deleteById(customer.id) ">Delete</button></td>-->
      <!-- Button trigger modal -->
      <td>
        <button type="button" class="btn btn-danger" (click)="showModel(employee)">
          Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you want to delete employee?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteById(tempEmployee.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" (click)="showInfo(employee)">
          Info
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Infomation</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                <table>
                  <tr>
                    <td>Name:</td>
                    <td>{{tempEmployee.name}}</td>
                  </tr>
                  <tr>
                    <td>Birthday:</td>
                    <td>{{tempEmployee.birthday|date:'dd/MM/yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>Id Card:</td>
                    <td>{{tempEmployee.idCard}}</td>
                  </tr>
                  <tr>
                    <td>Salary:</td>
                    <td>{{tempEmployee.salary}}</td>
                  </tr>
                  <tr>
                    <td>Number Phone:</td>
                    <td>{{tempEmployee.numberPhone}}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{tempEmployee.email}}</td>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td>{{tempEmployee.address}}</td>
                  </tr>
                  <tr>
                    <td>Pos:</td>
                    <td>{{tempEmployee.pos}}</td>
                  </tr>
                  <tr>
                    <td>Level:</td>
                    <td>{{tempEmployee.level}}</td>
                  </tr>
                  <tr>
                    <td>Part:</td>
                    <td>{{tempEmployee.part}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
<pagination-controls class="fixed-bottom" style="left:20%" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
<router-outlet></router-outlet>

