<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form (ngSubmit)="onSubmit()" [formGroup]="employeeForm">
        <div class="form-group row">
          <label class="col">
            Name
            <input type="name" class="form-control" formControlName="name">
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('name').hasError('required') && employeeForm.get('name').touched">
          Invalid Name!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('name').hasError('pattern') && employeeForm.get('name').touched">
          Name is not format
        </div>
        <!--  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">-->
        <!--    Invalid email!-->
        <!--  </div>-->
        <div class="form-group row">
          <label class="col">
            Birthday
            <mat-form-field>
              <input [min]="minDate" [max]="maxDate" readonly formControlName="birthday" matInput [matDatepicker]="myPicker">
              <mat-datepicker-toggle readonly matSuffix [for]="myPicker"></mat-datepicker-toggle>
              <mat-datepicker #myPicker></mat-datepicker>
            </mat-form-field>
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('birthday').hasError('required') && employeeForm.get('birthday').touched">
          Is not required
        </div>
        <!--  <tr>-->
        <!--    <td>Date of birth</td>-->
        <!--    <div class="datePicker">-->
        <!--      <td><input formControlName="dateOfBirth" readonly matInput [matDatepicker]="picker" (dateInput)="OnDateChange($event.value)">-->
        <!--        <div class="datePicker-div">-->
        <!--          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--          <mat-datepicker #picker></mat-datepicker>-->
        <!--        </div>-->
        <!--      </td>-->
        <!--    </div>-->
        <!--  </tr>-->
        <div class="form-group row">
          <label class="col">
            Id Card
            <input type="text" class="form-control" formControlName="idCard">
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('idCard').hasError('required') && employeeForm.get('idCard').touched">
          ID Card is required
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('idCard').hasError('pattern') && employeeForm.get('idCard').touched">
          Id card is not format
        </div>
        <div class="form-group row">
          <label class="col">
            Salary
            <input type="text" class="form-control" formControlName="salary">
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('salary').hasError('required') && employeeForm.get('salary').touched">
          Salary is required
        </div>
        <div class="form-group row">
          <label class="col">
            Number Phone
            <input type="text" class="form-control" formControlName="numberPhone">
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('numberPhone').hasError('required') && employeeForm.get('numberPhone').touched">
          Number Phone is required
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('numberPhone').hasError('pattern') && employeeForm.get('numberPhone').touched">
          Number Phone is not format
        </div>
        <div class="form-group row">
          <label class="col">
            Email
            <input type="text" class="form-control" formControlName="email">
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('email').hasError('required') && employeeForm.get('email').touched">
          Email is required
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('email').hasError('pattern') && employeeForm.get('email').touched">
          Email is not format
        </div>
        <div class="form-group row">
          <label class="col">
            Address
            <input type="text" class="form-control" formControlName="address">
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('address').invalid && employeeForm.get('address').touched">
          Address is required!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('address').hasError('pattern') && employeeForm.get('address').touched">
          Address is not format!
        </div>
        <div class="form-group row">
          <label class="col">
            Pos
            <select formControlName="pos" class="form-control">
              <option value="">Select</option>
              <option value="nhân viên">Nhân Viên</option>
              <option value="quản lý">Quản lý</option>
              <option value="phục vụ">Phục vụ</option>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('pos').hasError('required') && employeeForm.get('pos').touched">
          Is not required
        </div>
        <div class="form-group row">
          <label class="col">
            Level
            <select formControlName="level" class="form-control">
              <option value="">Select</option>
              <option value="cao đẳng">Cao đẳng</option>
              <option value="đại học">Đại học</option>
              <option value="sau đại học">Sau đại học</option>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('level').hasError('required') && employeeForm.get('level').touched">
          Is not required
        </div>
        <div class="form-group row">
          <label class="col">
            Part
            <select formControlName="part" class="form-control">
              <option value="">Select</option>
              <option value="giám đốc">Giám đốc</option>
              <option value="trưởng phòng">Trưởng phòng</option>
              <option value="bảo vệ">Bảo vệ</option>
            </select>
          </label>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="employeeForm.get('part').hasError('required') && employeeForm.get('part').touched">
          Is not required
        </div>
        <div class="form-group">
          <button class="btn btn-info" type="submit">Register</button>
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
