<form (ngSubmit)="onSubmit(formSignIn)" #formSignIn ="ngForm">
  <input placeholder="Email" ngModel #txtEmail="ngModel" name="email" required email>
    <p *ngIf="txtEmail.touched && txtEmail.errors?.required" class="message">
      Email is required
    </p>
    <p *ngIf="txtEmail.touched && txtEmail.errors?.email" class="message">
      Email is not format
    </p>
  <br><br>
  <input  type="password" placeholder="Password" ngModel name="password">
  <br><br>
  <div ngModelGroup="subjects">
    <label><input type="checkbox" [ngModel]="false" ]name="NodeJs">NodeJs</label>
    <label><input type="checkbox" [ngModel]="false" name="Angular">Angular</label>
    <label><input type="checkbox" [ngModel]="false" name="ReactJs">ReactJs</label>
  </div>
  <br><br>
  <button [disabled]="formSignIn.invalid" >Submit</button>
</form>
