<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/}">Bach To Blog List</a>
</p>
<form th:action="@{/save}" th:object="${blog}" method="post">
    <table>
    <tr>
        <td>Name</td>
        <td><input type="text" th:field="${blog.name}"></td>
    </tr>
    <tr>
        <td>Content</td>
        <td><input type="text" th:field="${blog.content}"></td>
    </tr>
    <tr>
        <td>Subject</td>
        <td><select th:field="*{subject}">
            <option th:each="aaa :${listsubject}"
            th:value="${aaa.id}" th:text="${aaa.name_Subject}"></option>
        </select></td>
    </tr>
    </table>
    <input type="submit" value="Create">

</form>

</body>
</html>
